@inherits ControlBase

<div>
    <WorldPicker SelectedMilieuCode="@MilieuCode" SelectedSectorHex="@SectorHex" SelectedWorldHex="@World.Hex" ShowWorldActionLinks="false" LoadSuffix="@LoadSuffix" />
    <table class="gridtable">
        @if (IsCustom)
        {
            <tr>
                <th>World</th>
                <td>
                    @World.Name (@World.UWP)
                    <a href="@TravellerWorldsUrl" target="_blank" rel="noopener noreferrer" title="Generate this world in Traveller Worlds.">
                        <span class="oi oi-map" aria-hidden="true" /> Traveller Worlds
                    </a>
                </td>
            </tr>
        }
        else
        {
            <tr>
                <th>Location</th>
                <td>
                    @World.SubsectorName / @World.Sector - @World.SectorX,@World.SectorY Hex @World.Hex
                    <a href="@($"/world/{MilieuCode}/{World.SectorX},{World.SectorY}/subsector/{World.SubSectorIndex}/")">
                        <span class="oi oi-list" aria-hidden="true" /> Subsector Index
                    </a>
                    <a href="@($"/world/{MilieuCode}/{World.SectorX},{World.SectorY}")">
                        <span class="oi oi-list" aria-hidden="true" /> Sector Index
                    </a>
                    <a href="@string.Format("http://travellermap.com/?scale=64&sx={0}&sy={1}&hx={2}&hy={3}&milieu={4}", World.SectorX, World.SectorY, World.HexX, World.HexY, MilieuCode)" target="_blank" title="Show planet in Traveller Map.">
                        <span class="oi oi-map" aria-hidden="true" /> Traveller Map
                    </a>
                    <a href="@TravellerWorldsUrl" target="_blank" rel="noopener noreferrer" title="Generate this world in Traveller Worlds.">
                        <span class="oi oi-map" aria-hidden="true" /> Traveller Worlds
                    </a>
                </td>
            </tr>
        }
    </table>
    <table class="gridtable">
        <tr>
            <th>Pages</th>
            <td>
                @if (CurrentPage == "info")
                {
                    <span><span class="oi oi-globe" aria-hidden="true" /> Info</span>
                }
                else
                {
                    <a href="@(BaseUrl +  "info" + QueryParameters)"><span class="oi oi-globe" aria-hidden="true" /> Info</a>
                }
                |
                @if (CurrentPage == "starport")
                {
                    <span><span class="oi oi-star" aria-hidden="true" /> Starport</span>
                }
                else
                {
                    <a href="@(BaseUrl +  "starport" + QueryParameters)"><span class="oi oi-star" aria-hidden="true" /> Starport</a>
                }
                |
                @if (CurrentPage == "trade")
                {
                    <span><span class="oi oi-box" aria-hidden="true" /> Trade</span>
                }
                else
                {
                    <a href="@(BaseUrl +  "trade" + QueryParameters)"><span class="oi oi-box" aria-hidden="true" /> Trade</a>
                }
                |
                @if (CurrentPage == "travel")
                {
                    <span><span class="oi oi-compass" aria-hidden="true" /> Travel</span>
                }
                else
                {
                    <a href="@(BaseUrl +  "travel" + QueryParameters)"><span class="oi oi-compass" aria-hidden="true" /> Travel</a>
                }
                |
                @if (CurrentPage == "store")
                {
                    <span><span class="oi oi-cart" aria-hidden="true" /> Store</span>
                }
                else
                {
                    <a href="@(BaseUrl +  "store" + QueryParameters)"><span class="oi oi-cart" aria-hidden="true" /> Store</a>
                }
                |
                @if (CurrentPage == "animals")
                {
                    <span><span class="oi oi-bug" aria-hidden="true" /> Animals</span>
                }
                else
                {
                    <a href="@(BaseUrl +  "animals" + QueryParameters)"><span class="oi oi-bug" aria-hidden="true" /> Animals</a>
                }
                |
                @if (CurrentPage == "encounters")
                {
                    <span><span class="oi oi-people" aria-hidden="true" /> Encounters</span>
                }
                else
                {
                    <a href="@(BaseUrl +  "encounters" + QueryParameters)"><span class="oi oi-puzzle-piece" aria-hidden="true" /> Encounters</a>
                }
                |
                @if (CurrentPage == "character")
                {
                    <span><span class="oi oi-person" aria-hidden="true" /> Character</span>
                }
                else
                {
                    <a href="@(BaseUrl +  "character" + QueryParameters)"><span class="oi oi-person" aria-hidden="true" /> Character</a>
                }
                |
                @if (CurrentPage == "contacts")
                {
                    <span><span class="oi oi-people" aria-hidden="true" /> Contacts</span>
                }
                else
                {
                    <a href="@(BaseUrl +  "contacts" + QueryParameters)"><span class="oi oi-people" aria-hidden="true" /> Contacts</a>
                }
                |
                @if (CurrentPage == "crew")
                {
                    <span><span class="oi oi-briefcase" aria-hidden="true" /> Crew</span>
                }
                else
                {
                    <a href="@(BaseUrl +  "crew" + QueryParameters)"><span class="oi oi-briefcase" aria-hidden="true" /> Crew</a>
                }
            </td>
        </tr>

        @if (!IsCustom && CurrentPage != "destination")
        {
            <tr>
                <td colspan="2">Passengers, Freight, and Mail are available from the Travel screen.</td>
            </tr>
        }
    </table>
</div>
